// Larsseit
@font-face {
    font-family: "Larsseit";
    src: url("../fonts/Larsseit/Larsseit.eot");
    src: 
    url("../fonts/Larsseit/Larsseit.woff") format("woff"),
}

@font-face {
    font-family: "Larsseit-Bold";
    src: url("../fonts/Larsseit/Larsseit-Bold.eot");
    src: 
    url("../fonts/Larsseit/Larsseit-Bold.woff") format("woff"),
}

@font-face {
    font-family: "Larsseit-Light";
    src: url("../fonts/Larsseit/Larsseit-Light.eot");
    src: 
    url("../fonts/Larsseit/Larsseit-Light.woff") format("woff"),
}

@font-face {
    font-family: "Larsseit-Medium";
    src: url("../fonts/Larsseit/Larsseit-Medium.eot");
    src: 
    url("../fonts/Larsseit/Larsseit-Medium.woff") format("woff"),
}

// Vaud
@font-face {
    font-family: "Vaud";
    src: url("../fonts/vaud/Vaud.otf");
    src: 
    url("../fonts/vaud/Vaud.otf") format("woff"),
}

@font-face {
    font-family: "Vaud Light";
    src: url("../fonts/vaud/Vaud\ Light.otf");
    src: 
    url("../fonts/vaud/Vaud\ Light.woff") format("woff"),
}

@font-face {
    font-family: "Vaud Medium";
    src: url("../fonts/vaud/Vaud\ Medium.otf");
    src: 
    url("../fonts/vaud/Vaud\ Medium.woff") format("woff"),
}

@font-face {
    font-family: "Vaud SemiBold";
    src: url("../fonts/vaud/Vaud\ SemiBold.otf");
    src: 
    url("../fonts/vaud/Vaud\ SemiBold.woff") format("woff"),
}

// GTWalsheimPro

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('../fonts/GTWalsheimPro/GTWalsheimPro-Light.woff2') format('woff2'),
        url('../fonts/GTWalsheimPro/GTWalsheimPro-Light.woff') format('woff');
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('../fonts/GTWalsheimPro/GTWalsheimPro-Black.woff2') format('woff2'),
        url('../fonts/GTWalsheimPro/GTWalsheimPro-Black.woff') format('woff');
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('../fonts/GTWalsheimPro/GTWalsheimPro-Bold.woff2') format('woff2'),
        url('../fonts/GTWalsheimPro/GTWalsheimPro-Bold.woff') format('woff');
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('../fonts/GTWalsheimPro/GTWalsheimPro-Thin.woff2') format('woff2'),
        url('../fonts/GTWalsheimPro/GTWalsheimPro-Thin.woff') format('woff');
}

@font-face {
    font-family: 'GT Walsheim Pro Ultra';
    src: url('../fonts/GTWalsheimPro/GTWalsheimPro-UltraBold.woff2') format('woff2'),
        url('../fonts/GTWalsheimPro/GTWalsheimPro-UltraBold.woff') format('woff');
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('../fonts/GTWalsheimPro/GTWalsheimPro-Regular.woff2') format('woff2'),
        url('../fonts/GTWalsheimPro/GTWalsheimPro-Regular.woff') format('woff');
}

@font-face {
    font-family: 'GT Walsheim Pro Ultra';
    src: url('../fonts/GTWalsheimPro/GTWalsheimPro-UltraLight.woff2') format('woff2'),
        url('../fonts/GTWalsheimPro/GTWalsheimPro-UltraLight.woff') format('woff');
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('../fonts/GTWalsheimPro/GTWalsheimPro-Medium.woff2') format('woff2'),
        url('../fonts/GTWalsheimPro/GTWalsheimPro-Medium.woff') format('woff');
}